/* ============ BASE ============ */


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

form {
  background-color: rgba(40,40,40,.1);
}

.error-message {
  color: rgb(255, 100, 100);
  text-align: left;
  font-size: 12px;
  width: 100%;
}

.password-container {
  position: relative;
}

.eye {
  position:absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  font-family: 'Material Symbols Outlined';
  color: #ffffff;
}

.form-pair {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
}

input, button {
  background-color: rgba(182, 203, 225, .1);
  color: white;
}

input {
  width: 100%;
  border: none;
  height: 40px;
  text-indent: 10px;
  border-radius: 5px;
  font-size: 13px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-size: 15px;
  text-indent: 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
}

button {
  border: 0;
  width: 100%;
  min-height: 25px;
  min-width: 50px;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: clip; 
  padding: 5px;
  border-radius: 10px;
}

input[type="search"] {
  height:40px; 
  width: 100%; 
  border-radius: 7px; 
  margin:0px; 
  outline: none
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(40,40,40,.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .1);
}


/* ============ COMPONENTS ============ */


.card {
  border-radius: 15px;
  overflow: hidden;
  justify-self: center;
  justify-content: space-between;
}

.card--vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card--horizontal {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input::placeholder {
  color: rgb(127, 127, 127);
}

.impact-text {
  font-size: 45px;
  font-weight: 500;
}

.selected-box, .neon-box:hover {
  box-shadow:
    0 0 3px white,
    0 0 15px #ff005e;
  animation: box-glow 1.5s infinite alternate;
}

.neon-text {
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  text-shadow:
    0 0 10px #ff005e,
    0 0 20px #ff005e,
    0 0 30px #ff005e,
    0 0 50px #ff005e,
    0 0 70px #ff005e;
  animation: glow 1.5s infinite alternate;
}

/* https://stackoverflow.com/questions/32208665/fit-width-of-div-tightly-to-multi-line-span */
.message {
  border-radius: 10px;
  font-weight: 500;
  max-width: 80%;
  padding: 7px; 
  word-break:break-all;
  width: fit-content;
}

.message--in {
  background-color: #eeeeee;
  color:rgb(40, 40, 40);
}

.message--out {
  background-color: #107ee6;
  color: white;
  justify-self: end;
}

.time {
  text-wrap: nowrap; 
}

.time--in {
  justify-self: start;
}

.time--out {
  justify-self: end;
}

.results {
  position:absolute; 
  inset:0; 
  translate: 0px 100%; 
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
}

.result{
  text-overflow: ellipsis; 
  max-width: 300px; 
  color: #ffffff; 
  padding:12px; 
  border-radius: 0px;
  background-color: rgba(16, 18, 20, 1);
}

.result:hover{
  background-color: rgba(24, 27, 30, 1);
}

.result--final{
  border-radius: 0px 0px 7px 7px;
}


/* ============ UTILITIES ============ */


.color {
  background: radial-gradient(circle, rgb(0, 5, 20) 0%, rgba(0, 0, 0, 1) 100%);
}


/* ============ ANIMATIONS ============ */

@keyframes glow {
  0% {
    text-shadow:
      0 0 10px #ff005e,
      0 0 20px #ff005e,
      0 0 50px #ff005e;
  }
  100% {
    text-shadow:
      0 0 10px #00d435,
      0 0 20px #00d435,
      0 0 50px #00d435;
  }
}

@keyframes box-glow {
  0% {
    box-shadow: 0 0 15px #ff005e;
  }
  100% {
    box-shadow: 0 0 15px #00d435;
  }
}