<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}">
		<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	</head>
	<body>
		<div class="color" style="width: 100%; height:100%; display: flex; flex-direction: column; overflow: hidden;">
			
			<header>
				<div style="width: 100px; min-height: 10vh; flex: 1; background-color: blanchedalmond; text-align: center; align-content: center;">
					1
				</div>
				<div style="width: 100px; min-height: 10vh; flex: 1; background-color: beige; text-align: center; align-content: center;">
					2
				</div>
				<div style="width: 100px; min-height: 10vh; flex: 1; background-color: antiquewhite; text-align: center; align-content: center;">
					3
				</div>
			</header>

			<div style="width:80vw; align-self: center; flex: 1;">
				<div style="display: flex; height: 100%;">

					<!-- Conversations lists -->
					<div class="area" style="flex: 2; background-color: blanchedalmond;">
						<div th:each="conversation : ${conversations}" style="padding: 7px;">
							<button class="neon-box" onclick="FetchMessages(this)" th:data-id="${conversation.id}">
								<div th:text="${conversation.title}"></div>
								<div th:text="${conversation.lastSent}"></div>
							</button>
						</div>
					</div>

					<!-- Messages -->
					<!-- <div class="area" style="flex: 4; background-color:beige; display: flex; gap:10px; flex-direction: column; padding: 20px; position: relative;">
						<div id="message-column">
							<div th:fragment="messageList" th:each="message : ${messages}" th:data-id="${message.id}" style="background-color: red;">
								<div class="message-time" th:classappend="${message.accountId == currentUserId} ? 'time--out' : 'time--in'">
									<small th:text="${message.sentAt}"></small>
								</div>
								<div class="message" th:classappend="${message.accountId == currentUserId} ? 'message--out' : 'message--in'">
									<span th:text="${message.contents}"></span>
								</div>
							</div>
						</div>

						<form id="message-form" method="post"
								style="width: 80%; background-color: black; align-content: space-between; position: absolute; display: flex; flex-direction: row; justify-content: space-between; border-radius: 10px; align-self: center; bottom: 20px">
							<input type="text" id="message-input" name="contents" placeholder="Send a message" style="display: inline-block;">
							<input type="submit" style="width: 30%;">
						</form>

					</div> -->

					<div class="area" style="flex: 4; background-color:beige; display: flex; gap:5px; flex-direction: column; padding: 20px; justify-content: space-between;">
						<div id="message-column" style="background-color: aquamarine; flex-grow: 1; overflow-y: auto; height: 0px;">
							<div th:fragment="messageList" th:each="message : ${messages}" th:data-id="${message.id}">
								<div class="message-time" th:classappend="${message.accountId == currentUserId} ? 'time--out' : 'time--in'">
									<small th:text="${message.sentAt}"></small>
								</div>
								<div class="message" th:classappend="${message.accountId == currentUserId} ? 'message--out' : 'message--in'">
									<span th:text="${message.contents}"></span>
								</div>
							</div>
						</div>

						<!-- ON MAX PAGE SHRINK THIS PUSHES BELOW THE BOTTOM FIX THIS PLEASE -->
						<form id="message-form" method="post"
								style="width: 100%; background-color: black; align-content: space-between; display: flex; flex-direction: row; justify-content: space-between; border-radius: 10px; justify-self: center;">
							<input type="text" id="message-input" name="contents" placeholder="Send a message" style="display: inline-block; min-height: 0px;">
							<input type="submit" style="width: 30%; min-height: 0px;">
						</form>

					</div>

					<!-- WIP -->
					<div class="area" style="flex: 1; background-color:antiquewhite">
						3
					</div>

				</div>
			</div>
		</div>
	</body>
</html>

<script th:inline="javascript">
	let conversationId = null;
	let selectedElement = null;
	let subscription = null;
	let stompClient = null;
	const currentUserId = /*[[${currentUserId}]]*/ 0;

	function FetchMessages(element) {
		event.preventDefault();

		if(conversationId != null){
			selectedElement.classList.remove("selected-box");
		}

		selectedElement = element;
		conversationId = element.getAttribute('data-id');
		element.classList.add("selected-box");

		fetch(`/conversation/${conversationId}/messages`)
			.then(response => response.text())
			.then(htmlSnippet => {
				document.getElementById('message-column').innerHTML = htmlSnippet;})
			.catch(error => console.error("Error:", error));

		if (subscription){
			subscription.unsubscribe();
		}
		Stomp();
	}

	function Stomp (){
		stompClient = new StompJs.Client({
			brokerURL: 'ws://localhost:8080/connect',
			debug: function (str) {
				console.log(str);
			},
			reconnectDelay: 3000,
			heartbeatIncoming: 3000,
			heartbeatOutgoing: 3000,
		});

		stompClient.onConnect = function (frame) {
			subscription = stompClient.subscribe('/topic/messages.' + conversationId, function (message) {
				
				const parsedMessage = JSON.parse(message.body)

				const messageContainer = document.getElementById("message-column");
				const messageElement = document.createElement("div");

				const isMe = (parsedMessage.accountId == currentUserId);
				const messageClass = isMe ? 'message--in' : 'message--out';
				const timeClass = isMe ? 'time--in' : 'time--out';
				
				messageElement.innerHTML = `
					<div class="message-time ${timeClass}">
						<small>${parsedMessage.sentAt}</small>
					</div>
					<div class="message ${messageClass}">
						<span>${parsedMessage.contents}</span>
					</div>
				`;
				
				messageContainer.appendChild(messageElement);
				messageContainer.scrollTop = messageContainer.scrollHeight;

			});
		};

		stompClient.onStompError = function (frame) {
			console.error('error');
		};

		stompClient.activate();
	}


	document.getElementById("message-form")
    .addEventListener("submit", async e => {
		e.preventDefault();

		const message = {
			conversationId: conversationId,
			contents: document.getElementById("message-input").value
		};
		
		if (!message.contents || !conversationId) {
			return;
		}

		stompClient.publish({
			destination: "/ws/messages.send",
			body: JSON.stringify(message)
		});

		document.getElementById("message-input").value = "";
	})
</script>