<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
		<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	</head>
	<body>
		<div class="color" style="width: 100%; height:100%; display: flex; flex-direction: column; overflow: hidden;">
			
			<header>
				<div style="width: 100px; min-height: 10vh; flex: 1; text-align: center; align-content: center;">
				</div>
				<div style="width: 100px; min-height: 10vh; flex: 1;text-align: center; align-content: center;">
				</div>
				<div style="width: 100px; min-height: 10vh; flex: 1; text-align: center; align-content: center;">
					<div id="search-container" style="justify-content:center; margin-right: 17px; display: flex; flex-direction: row; align-items: center; gap: 5px;">
						<div style="display: flex; flex-direction: column; max-width: 300px;  position: relative; min-width: 50px;">
							<input type="search" id="search" placeholder="Search">
							<div class="results" id="results"></div>
						</div>
						<button class="neon-box" onclick="searchForUser()" style="width: 40px; height:40px; min-width: 40px; min-height: 40px; margin-left: 5px;">
							<svg class="search" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
						</button>
					</div>
				</div>
			</header>
			<div style="width:80vw; align-self: center; flex: 1;">
				<div style="display: flex; height: 100%;">
					<!-- Conversations lists -->
					<div style="flex: 2;">
						<div id="conversations-column" style="flex-grow: 1; overflow-y: auto;">
							<div th:fragment="conversationList" th:each="conversation : ${conversations}" style="padding: 7px;">
								<button class="neon-box" onclick="fetchMessages(this)" th:data-id="${conversation.id}">
									<div style="color: #fff;" th:text="${conversation.title}"></div>
									<div style="color: #ccc; font-size: smaller;" th:text="${#temporals.format(conversation.lastSent, 'dd/MM/yy hh:mm a')}">
									</div>
								</button>
							</div>
						</div>
					</div>
					<!-- Messages -->
					<div style="border: 2px solid rgba(40,40,40,.2); flex: 4; display: flex; gap:5px; flex-direction: column; padding: 20px; justify-content: space-between;">
						<div id="message-column" style="flex-grow: 1; overflow-y: auto; height: 0px; ">
							<div th:fragment="messageList" th:each="message : ${messages}" th:data-id="${message.id}" style="margin-right: 5px;">
								<div style="color: #fff" class="message-time" th:classappend="${message.accountId == currentUserId} ? 'time--out' : 'time--in'">
									<small th:text="${#temporals.format(message.sentAt, 'dd/MM/yy, hh:mm a')}"></small>
								</div>
								<div class="message" th:classappend="${message.accountId == currentUserId} ? 'message--out' : 'message--in'">
									<span th:text="${message.contents}"></span>
								</div>
							</div>
							<div th:if="${messages == null}">
								<p style="color: #fff; font-size: small; text-align: center;">Select a conversation</p>
							</div>
						</div>
						<form id="message-form" method="post"
								style="width: 100%; align-content: space-between; display: flex; flex-direction: row; justify-content: space-between; border-radius: 10px; justify-self: center;">
							<input type="text" id="message-input" name="contents" placeholder="Send a message" style="display: inline-block; min-height: 0px;">
							<input class="neon-box" type="submit" style="width: 30%; min-height: 0px; min-width: 50px; max-width: 100px;" value="Send">
						</form>
					</div>
					<!-- WIP -->
					<div style="flex: 1;">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	let conversationId = null;
	let selectedElement = null;
	let subscription = null;
	let stompClient = null;
	let currentUserId = null;
	const results = document.getElementById("results");
	const excludedDiv = document.getElementById('search-container');
	const search = document.getElementById("search");


	// Listeners
	// Message submit listener
	document.getElementById("message-form")
    .addEventListener("submit", async e => {
		e.preventDefault();
		const message = {
			conversationId: conversationId,
			contents: document.getElementById("message-input").value
		};
		if (!message.contents || !conversationId) {
			return;
		}
		stompClient.publish({
			destination: "/ws/messages.send",
			body: JSON.stringify(message)
		});
		document.getElementById("message-input").value = "";
	})

	document.addEventListener('click', (event) => {
		if (!excludedDiv.contains(event.target)) {
			clearSearchResults();
		}
	});

	document.addEventListener("DOMContentLoaded", async () => {
    	currentUserId = await fetchCurrentUserId();
		const conversation = window.location.pathname.match(/\/conversation\/([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})\/messages/);
		if (conversation){
			fetchMessages(null, document.querySelector(`[data-id="${conversation[1]}"]`));
		}
	});


	//Functions

	async function fetchMessages(element) {
		if (!element || element.getAttribute('data-id') == conversationId) return;

		if(conversationId != null){
			selectedElement.classList.remove("selected-box");
		}

		selectedElement = element;
		conversationId = element.getAttribute('data-id');
		element.classList.add("selected-box");
		fetch(`/conversation/${conversationId}/messages`, { headers: { 'X-Requested-With': 'XMLHttpRequest' } })
			.then(response => response.text())
			.then(htmlSnippet => {
				document.getElementById('message-column').innerHTML = htmlSnippet;
				history.pushState({ id: conversationId }, '', `/conversation/${conversationId}/messages`);
			})
			.catch(error => console.error("No response"));

		if (subscription){
			subscription.unsubscribe();
		}
		stomp();
	}

	function stomp (){
		if (stompClient) {
			stompClient.deactivate();
		}
		stompClient = new StompJs.Client({
			brokerURL: 'ws://localhost:8080/connect',
			debug: function (str) {
				console.log(str);
			},
			reconnectDelay: 3000,
			heartbeatIncoming: 3000,
			heartbeatOutgoing: 3000,
		});

		stompClient.onConnect = function (frame) {
			subscription = stompClient.subscribe('/topic/messages.' + conversationId, function (message) {
				const parsedMessage = JSON.parse(message.body);
				const messageContainer = document.getElementById("message-column");
				const isMe = (parsedMessage.accountId == currentUserId);
				const messageClass = isMe ? 'message--out' : 'message--in';
				const timeClass = isMe ? 'time--out' : 'time--in';
				const time = getFormattedTime(parsedMessage.sentAt);
				const messageElement = buildHTML('div', { style: "margin-right: 5px;" },
					buildHTML('div', { className: `message-time ${timeClass}` }, 
						buildHTML('small', { style: "color: #fff" }, createText(time))),
					buildHTML('div', { className: `message ${messageClass}` }, 
						buildHTML('span', null, createText(parsedMessage.contents))),
						buildHTML('div', null, createText("TEST"))
					)
				messageContainer.appendChild(messageElement);
				messageContainer.scrollTop = messageContainer.scrollHeight;
			});
		};
		stompClient.onStompError = function (frame) {
			console.error('error');
		};
		stompClient.activate();
	}

	// Finds users whose username contains the search entry and appends results to search results
	async function searchForUser(){
		try {
			const response = await fetch(`/accounts/search/${encodeURIComponent(search.value)}`);
			if (response.ok){
				const accounts = await response.json(); // JSON list of accounts containing matching values
				if (accounts.length > 0) {
					clearSearchResults();
					search.style.borderRadius = "7px 7px 0px 0px";

					for (var i = 0; i < accounts.length; i++) {
						const resultElement = document.createElement("div");
						let style = 'result'; // Pick appropriate styling
						if (i == accounts.length - 1){
							style = 'result result--final';
						}
						resultElement.innerHTML = `
							<button class="${style}" value="${accounts[i].id}" onclick="createConversation(this)">
								${accounts[i].username}
							</button>
						`;
						results.appendChild(resultElement);
					}
				}
			} else {
				console.log("No response");
			}
		}
		catch (error) {
			console.error(error);
		}
	}

	async function createConversation(element) {
		if (currentUserId == element.value){
			return;
		}
		try {
			const accountIds = [element.value];

			const response = await fetch(`/conversation`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-Requested-With': 'XMLHttpRequest'
			},
			body: JSON.stringify(accountIds)
			}).then(response => response.text())
				.then(htmlSnippet => {
					document.getElementById('conversations-column').innerHTML = htmlSnippet;})
				.catch(error => console.error("No response"));
			clearSearchResults();

		}
		catch (error) {
			console.error(error);
		}
	}

	// Retrieves currently logged in user
	async function fetchCurrentUserId(){
		try {
			const response = await fetch('/accounts/me');
			if (response.ok){
				const userData = await response.json();
				currentUserId = userData;
				return userData;
			} else {
				console.log("No response");
			}
		}
		catch (error) {
			console.error(error);
		}
	}

	function buildHTML (tag, attributes, ...children) {
		const node = document.createElement(tag);
		if (attributes){
			for(const [key, value] of Object.entries(attributes)) {
				if (key == 'style') {
					node.style.cssText = value;
				} else {
					node[key] = value;
				}
			}
		}

		children.forEach(child => {
			node.append(child);
		})

		return node;
	}

	function createText(text){
		return document.createTextNode(text);
	}

	function getFormattedTime(timestamp){
		const now = new Date(timestamp);
		return new Intl.DateTimeFormat('en-UK', {
			day: '2-digit',
			month: '2-digit',
			year: '2-digit',
			hour: '2-digit',
			minute: '2-digit',
			hour12: true
		}).format(now);
	}

	function clearSearchResults(){
		results.replaceChildren();
		search.style.borderRadius = "7px";
	}
</script>