<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>TEST</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
		<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
	</head>
	<body>
		<div class="color" style="width: 100%; height:100%; display: flex; flex-direction: column; overflow: hidden;">
			
            <div class="chat-grid">

                <div class="header-1"></div>
                <div class="header-2">
                    <div id="search-container" class="search-container">
                        <div class="search-input">
                            <input type="search" id="search" placeholder="Search">
                            <div class="results" id="results"></div>
                        </div>
                        <button class="neon-box" onclick="searchForUser()" style="width: 40px; height:40px; min-width: 40px; min-height: 40px; margin-left: 5px;">
                            <svg class="search" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </button>
                    </div>
                </div>
                <div class="header-3"></div>

                <div class="conversations">
                    <div th:fragment="conversationList">
                        <div th:each="conversation : ${conversations}" style="padding: 10px; overflow-y: scroll;">
                            <button class="neon-box" onclick="fetchMessages(this)" th:data-id="${conversation.id}">
                                <div style="color: #fff;" th:text="${conversation.title}">Title</div>
                                <div style="color: #ccc; font-size: smaller;" th:text="${#temporals.format(conversation.lastSent, 'dd/MM/yy hh:mm a')}">
                                Timestamp</div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="chat">
                    <div th:fragment="messageList" th:data-id="${message.id}" style="margin-right: 5px;">
                        <div th:if="${messages == null}">
                            <p style="color: #fff; font-size: small; text-align: center;">Select a conversation</p>
                        </div>
                        <div th:each="message : ${messages}" th:data-id="${message.id}">
                            <div style="color: #fff" class="message-time" th:classappend="${message.accountId == currentUserId} ? 'time--out' : 'time--in'">
                                <small th:text="${#temporals.format(message.sentAt, 'dd/MM/yy, hh:mm a')}"></small>
                            </div>
                            <div class="message" th:classappend="${message.accountId == currentUserId} ? 'message--out' : 'message--in'">
                                <span th:text="${message.contents}"></span>
                            </div>
                        </div>
                    </div>
                    <form id="message-form" method="post"
                            style="width: 100%; align-content: space-between; display: flex; flex-direction: row; justify-content: space-between; border-radius: 10px; justify-self: center;">
                        <input type="text" id="message-input" name="contents" placeholder="Send a message" style="display: inline-block; min-height: 0px;">
                        <input class="neon-box" type="submit" style="width: 30%; min-height: 0px; min-width: 50px; max-width: 100px;" value="Send">
                    </form>
                </div>


                <div class="send"></div>

            </div>
	</body>
</html>

<script>

</script>